version: '2'
services:
  mysql:
    container_name: web_app_mysql
    restart: always
    image: mysql/mysql-server
    environment:
      MYSQL_ROOT_PASSWORD: "root"
      MYSQL_USER: "myapp"
      MYSQL_PASSWORD: "myapp"
      MYSQL_DATABASE: "myapp"
  postgres:
    container_name: web_app_postgres
    restart: always
    image: postgres
    environment:
      POSTGRES_USER: "myapp"
      POSTGRES_PASSWORD: "myapp"
      POSTGRES_DB: "myapp"
  web:
    container_name: web_app
    build: .
    command: php -S 0.0.0.0:8080 -t /app/${DOCROOT}
    links:
      - mysql
      - postgres
    ports:
      - "${PORT}:8080"
    volumes:
      - ../:/app
    depends_on:
      - "mysql"
      - "postgres"

