version: '2'
services:
  mysql:
    container_name: web_app_mysql
    restart: always
    image: mysql/mysql-server:5.7
    environment:
      MYSQL_ROOT_PASSWORD: "root"
      MYSQL_USER: "myapp"
      MYSQL_PASSWORD: "myapp"
      MYSQL_DATABASE: "myapp"
  postgres:
    container_name: web_app_postgres
    restart: always
    image: postgres:9.5
    environment:
      POSTGRES_USER: "myapp"
      POSTGRES_PASSWORD: "myapp"
      POSTGRES_DB: "myapp"
  web:
    container_name: web_app
    image: allansimon/php7-fpm-postgresql
    command: php -S 0.0.0.0:${PORT} -t /app/${DOCROOT}
    links:
      - mysql
      - postgres
    ports:
      - "${PORT}:${PORT}"
    volumes:
      - ../:/app
