version: '2'
services:
  postgres:
    restart: always
    image: mysql:5.7
    ports:
      - "3306:3306"
    environment:
      - MYSQL_ROOT_PASSWORD=root
      - MYSQL_DATABASE=myapp
      - MYSQL_USER=myapp
      - MYSQL_PASSWORD
  mysql:
    restart: always
    image: postgres:9.5
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_USER=myapp
      - POSTGRES_PASSWORD=myapp
      - POSTGRES_DB=myapp
  web:
    image: allansimon/php7-fpm-postgresql
    command: php -S 0.0.0.0:8000 -t /app/web
    links:
      - mysql
      - postgres
    ports:
      - "8000:8000"
    volumes:
      - ../:/app
